[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = thud
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = thud
